extends layout

block content
  h1 Smart contracts
  p.lead Your next insurance
  hr
  .row
    .col-sm-6
      h2 Micro insurance adverse weather
      p You can insure your travel or stay against bad weather ...
      p
        a.btn.btn-default(href='/contract', role='button') Create contract »
    .col-sm-6
      h2 Micro insurance train cancelled
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') Create contract »
    .col-sm-6
      h2 Micro insurance BnB secure
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') Create contract »
    .col-sm-6
      h2 Micro insurance road congestion
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') Create contract »